In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

data=pd.read_csv('StudentsPerformance.csv')
print(data)

     gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]

In [16]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

# 1. Find out how many males and females participated in the test.

In [4]:
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students' parental level of education?

In [5]:
data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [ ]:
Majority of parents have college level education

# 3. Who scores the most on average for math, reading and writing based on gender

In [9]:
d=data[['gender','math score', 'reading score','writing score']].groupby(['gender']).agg('mean')

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Female students score high in reading and writing but male students score hidh marks in maths

# ● Test preparation course

In [10]:
dt=data[['test preparation course','math score', 'reading score','writing score']].groupby(['test preparation course']).agg('mean')
dt

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

students who completed test preparation course score most in maths,reading and writing when compared to students who did'nt attend the course

# 4. What do you think about the scoring variation for math, reading and writing based on gender

In [12]:
d=data[['gender','math score', 'reading score','writing score']].groupby(['gender']).var()
d

        math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924

female students shows more variation in maths,reading and writing score when compared to male students

# ● Test preparation course

In [14]:
dt=data[['test preparation course','math score', 'reading score','writing score']].groupby(['test preparation course']).var()
dt

                         math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739

Students who didnt attend the test preparation score shows more variation than the students who attended the course

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [15]:
data['math score'].describe()

count    1000.000000
mean       66.001000
std        15.569567
min         0.000000
25%        57.000000
50%        66.000000
75%        77.000000
max       100.000000
Name: math score, dtype: float64

Students who scored marks above 77 can be given bonus points