In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv("dataset w7(1).csv")
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset.

In [2]:
import statistics
#Mean
m=data["Total Marks"].mean()
print("Mean of Total Marks is: ",m)

Mean of Total Marks is:  32.32142857142857

In [3]:
#Standard deviation
s=data["Total Marks"].std()
print("SD of Total Marks is: ",s)

SD of Total Marks is:  12.454520438984368

In [4]:
#Find Null
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [5]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2.Check whether female and male students scored the same marks

In [8]:
from scipy.stats import ttest_ind
#H0: Male and Female didn't score same marks
#H1: Male and Female scored different marks
data_male=data[data["Gender"]=="male"][["Total Marks"]]
data_female=data[data["Gender"]=="female"][["Total Marks"]]
alpha=0.05
_,p_value=ttest_ind(data_male,data_female)

In [9]:
if (p_value>alpha):
    print("Failing to Reject Null Hypothesis")
else:
    print("Rejecting The Null HYpothesis")

Failing to Reject Null Hypothesis

Male and Females scored same marks

# 3.Whether test preparation helps the students

In [10]:
#H0: Test Preperation didn't help the students
#H1: Test Preperation helped the students
test_compl=data[data["Test preparation"]=="completed"][["Total Marks"]]
test_none=data[data["Test preparation"]=="none"][["Total Marks"]]
alpha=0.05
t_score,p_value=ttest_ind(test_compl,test_none)
print("T Test Score generated is: %0.3f  \nP value generated is:  %0.3f" %(t_score,p_value))
if(p_value>alpha):
                     print("Failing to Reject H0")
                     
else:
                     print("Rejected H0")

T Test Score generated is: 3.614
P value generated is:  0.001
Rejected H0

Here Null Hypothesis is, which implies that the Test preperation didnt help the students to score high marks.